body {
  text-align: center;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: chartreuse;
  margin: 20px;
}

img {
  width: 453px;
}
.product-description {
  display: flex;
  flex-direction: column;
  align-items: start;
}
h1,
h3 {
  margin: 0%;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.colors-price {
  display: flex;
  align-items: center;
  gap:30px;
}
.pricing{
    display: flex;
    align-items: center; gap: 10px;
}
.red {
  display: block;
  height: 20px;
  background-color: red;
  width: 20px;
  border-radius: 10px;
}
#gray {
  display: block;
  height: 20px;
  background-color: gray;
  width: 20px;
  border-radius: 10px;
}
#black {
  display: block;
  height: 20px;
  background-color: black;
  width: 20px;
  border-radius: 10px;
}
.colors{
    display: flex;
    gap: 5px;
}
#button{
    background-color: black;
    color: white;
    border: 0cap;
    padding: 10px;
    
}